body, html {
height: 100%;
background: #fff;
margin: 0;
padding: 0;
}

.nombre {
  color: #444;
  border-radius: 1em;
  display: flex;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: linear-gradient(to right, rgb(39, 39, 39) 50%, transparent 50%);
  background-size: 202% 102%;
  background-position: right bottom;
  transition: all .8s ease-out;
}

.nombre:hover {
  background-position: left bottom;
  color: #fff;
}

.text-lightblue {
  color: #9bcdf2;
}

.lightblue{
  color: #9bcdf2;
}

.bg-lightblue {
  background: #9bcdf2;
}

.text-gray-card {
  color: #777;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.centrar{
  width: 100%;
  left: -1%;
}

embed {
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-x: hidden;
}

.galeria {
  padding: 2em;
  background: #edf7ff;
}

.imagen-galeria {
  transition: box-shadow 0.5s, transform 0.5s;
  transform: scale(0.9);
}

.imagen-galeria:hover {
  /* border: 1px #ebebeb solid;  */
  box-shadow: 25px 25px rgba(208, 231, 247, 0.548);
  transform: scale(0.95);
}

.azul {
  background: #d4ecff7a;
  box-shadow: #000 10px solid;
  -webkit-box-shadow: inset 0px -8px 15px -5px rgba(0,0,0,0.12);
  -moz-box-shadow: inset 0px -8px 15px -5px rgba(0,0,0,0.12);
  box-shadow: inset 0px -8px 15px -5px rgba(0,0,0,0.12);
}

.descripcion {
  background: #fff !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #444;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 2.5em;
  border-radius: 0em;
  border: 1px solid rgba(0, 0, 0, 0.04) !important;
}

.card-sobre-mi {
  border-left: 3px solid #9bcdf2;
}

.proyectos{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  background: #fff !important;
  color: #777;
  text-align: center;
  background: url('images/background.png');
}

.proyecto-titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  color: #9bcdf2;
  text-align: left;
}

.monserrat-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #444 !important;
}

.principal {
  background: url('images/fondo-background-azul-mejora.png');
  height: 100%;
  overflow: hidden;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 9;
}

.btn-warning {
  background-color: #9bcdf2;
  border-color: transparent;
  color: #fff;
  border-radius: 0px;
  animation-name: boton;
  opacity: 0;
  animation-iteration-count: 1;
  animation: boton 2s forwards;
  animation-delay: 0.6s;
  border-radius: 2em;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  transform: scale(1.1);
  cursor: pointer;
}

.btn-warning:hover {
  color: #fff;
  background-color: rgba(157, 195, 229, 0.863);
  border-color: transparent;
  box-shadow: none;
  transform: scale(1);
}

.principal:hover .nombre {
  background-position: left bottom;
  color: #fff;
}

h1 {
  animation-name: texto;
  opacity: 0;
  animation-iteration-count: 1;
  animation: texto 2s forwards;
  animation-delay: 0.2s;
  font-family: 'Montserrat', sans-serif;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.espaciado {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #fff;
  z-index: 12;
  /* PODER pasar las lineas curvas detras del texto se ocupa relative, absolute, o fixed */
  position: relative;
}

svg {
  opacity: 0.3;
}



/* ----------------------------------------- */
/*          ICONOS DE LA PÁGINA          */

svg#icono-libro {
  opacity: 1;
  color: #9bcdf2 !important;
}

svg#icono-foco {
  opacity: 1;
  color: #9bcdf2 !important;
}

svg#icono-cerebro {
  opacity: 1;
  color: #9bcdf2 !important;
}
svg#icono-acha {
  opacity: 1;
  color: #9bcdf2 !important;
}

/*                    /ICONOS                      */
/* ------------------------------------------------------- */


#figura {
  position: absolute;
  animation-name: figura;
  animation-duration: 23s;
  animation-iteration-count: infinite;
  opacity: 0.1;
}

@keyframes figura {
  0%{ opacity: 0; transform: rotate(20deg);}
  25%{ opacity: 1;}
  50%{ opacity: 1;}
  100%{ opacity: 0;  }
}

@keyframes boton {
  0%{ opacity: 0; margin-left: 5em; }
  100%{ opacity: 1; margin-left: 0em; }
}

@keyframes texto {
  0%{  opacity: 0;}
  100%{ opacity: 1;}
}

embed {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
}

.arreglar {
  z-index: 10;
}

.menu {
  position: fixed;
  z-index: 18;
  margin-left: -3.5em;
  margin-top: 1em;
  float: right;
  border-radius: 0px;
  /* border-color: #ffec49; */
  border-color: transparent;
  background: transparent;
  color: #333;
  transform: rotate(90deg);
}

.menu:hover{
  animation-name: menu;
  animation-iteration-count: 1;
  background: transparent;
  color: #333;
  border-color: transparent;
  animation: menu 1s forwards;
}

.menu:not(:hover){
  animation: menu2 1s forwards;
}

@keyframes menu {
  0%{ transform: rotate(90deg);}
  100%{ transform: rotate(0deg); }
}

@keyframes menu2 {
  0%{ transform: rotate(0deg);}
  100%{ transform: rotate(90deg); }
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    box-shadow: none;
 }



 .espacio-containers {
   padding: 3em;
   position: relative;
   background: #fff;
   z-index: 15;
 }

 .navbar-menu {
   position: fixed;
   z-index: 17;
   padding-top: 3em;
   float: right;
   text-align: right;
   width: 100%;
   height: 0%;
   padding-right: 1em;

}

.opcion-menu{
  margin: 2em;
}

.links-menu {
  list-style: none;
  display: none;
}

.links-menu:hover, a {
  list-style: none;
  color: #fff;
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
  font-family: 'Montserrat', sans-serif;
}

a.links:hover {
  color: #fff5a0;
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  animation: href 0.2s forwards;
}

@keyframes href {
  0%{color: #fff; font-size: 1em;}
  100%{color: #b1e5fd; font-size: 1.6em;}
}

.separacion {
	margin: 0.5em;
	padding: 0.5em;
	/* padding-top: 3em;    QUITA EL ESPACIO DE ARRIBA DE LAS TARJETAS DE ICONOS   */
	margin-bottom: 4em;

}

.separacion-individual {
  margin: .5em;
	padding: 2em;
	margin-right: 2em;
	margin-left: 2em;
	margin-top: 3em;
	box-shadow: 0px 0px 24.24px 1.76px rgba(0, 0, 0, 0.06);
}



footer {
  /* background: linear-gradient(to bottom right, rgba(255,236,73,.7), rgba(255,209,76,.7));  */
  background: #000;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  /* background: linear-gradient(to bottom right, rgba(255,236,73,.7), rgba(255,209,76,.7)); */
  background:  #fff;
}


@media (max-width: 575px){
  .container {
    padding: 30px;
  }
  h1 {
    font-size: 2em;
  }
  .separacion {
      /* padding-top: 3em;    QUITA EL ESPACIO DE ARRIBA DE LAS TARJETAS DE ICONOS   */
      margin-bottom: 2em;
    
  }
  .nombre {
    border-radius: 1em;
    display: flex;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background: linear-gradient(to right, rgb(39, 39, 39) 50%, transparent 50%);
    background-size: 202% 102%;
    background-position: left bottom;
    color: #fff;
  }

  .principal:hover .nombre {
    background-position: right bottom;
    color: #333;
  }
  .proyectos {
    font-size: 0.8em;
  }
}



/*            ANIMACIONES DE LINKS DEL FOOTER        */
i.color-negro {
  color: #343a40 !important;
}

i#linkedin.color-negro:hover::after{

  animation: links-circulares 0.4s forwards;
  padding: 5px;
  color: #fff;
  content: "José Luis Garza";
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-right: 0px !important;
  border-radius: 2em;
  background: rgba(157, 195, 229, 0.863);
}

i#github.color-negro:hover::after{

  animation: links-circulares 0.4s forwards;
  padding: 5px;
  color: #fff;
  content: "Joségarzar";
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-right: 0px !important;
  border-radius: 2em;
  background: rgba(157, 195, 229, 0.863);
}


@keyframes links-circulares {
  0% { margin-left: 0px; padding-left: 0px; background-color: transparent;}
    100% { margin-left: 5px; padding-left: 10px; padding-right: 10px; background: rgba(157, 195, 229, 0.863); }
}

@keyframes links-circulares-regreso {
  from { margin-left: 5px; padding-left: 10px; padding-right: 10px; background: rgba(157, 195, 229, 0.863); }
    to { margin-left: 0px; padding-left: 0px; padding-right: 0px; background-color: transparent; }
}

/* ---------------------------------------------------------------------------------------------------- */
